[submodule "App/project/jni/a3d"]
	path = App/project/jni/a3d
	url = git@github.com:jeffboody/a3d-native.git
[submodule "App/project/src/com/jeffboody/a3d"]
	path = App/project/src/com/jeffboody/a3d
	url = git@github.com:jeffboody/a3d-java.git
[submodule "App/fonts"]
	path = App/fonts
	url = git@github.com:jeffboody/a3d-fonts.git
[submodule "App/project/src/com/jeffboody/BlueSmirf"]
	path = App/project/src/com/jeffboody/BlueSmirf
	url = git@github.com:jeffboody/bluesmirf.git
